@tailwind base;
@tailwind components;
@tailwind utilities;

/* based on tailwind doc */
@layer base {
  @font-face {
    font-family: "Space Grotesk";
    font-weight: 700;
    src: url("/public/fonts/static/SpaceGrotesk-Bold.ttf"), format(truetype);
  }
  @font-face {
    font-family: "Space Grotesk";
    font-weight: 500;
    src: url("/public/fonts/static/SpaceGrotesk-Medium.ttf"), format(truetype);
  }
}

@layer utilities {
  .hero {
    background-image: url("/pattern-circle.svg"), url("/pattern-rings.svg");
    background-repeat: no-repeat;
    background-position:
      right -60px bottom 350px,
      top 150px left -350px;
  }
  .contact {
    background-image: url("/pattern-rings.svg");
    background-repeat: no-repeat;
    background-position: bottom 70px left -350px;
  }
}

input {
  background: transparent;
}
