@tailwind base;
@tailwind components;
@tailwind utilities;

/* based on tailwind doc */
@layer base {
  @font-face {
    font-family: "Space Grotesk";
    font-weight: 700;
    src: url("/fonts/SpaceGrotesk-Bold.ttf"), format(truetype);
  }
  @font-face {
    font-family: "Space Grotesk";
    font-weight: 500;
    src: url("/fonts/SpaceGrotesk-Medium.ttf"), format(truetype);
  }
}

@layer utilities {
  .hero {
    background-image: url("/pattern-circle.svg"), url("/pattern-rings.svg");
    background-repeat: no-repeat;
    background-position:
      right -60px bottom 350px,
      top 150px left -350px;
    @screen md {
      background-position:
        right -60px bottom 240px,
        top 70px left -270px;
    }
    @screen lg {
      background-position:
        right 320px bottom 90px,
        top 70px left -270px;
    }
    @screen xl {
      background-position:
        right 370px bottom 90px,
        top 70px left -270px;
    }
  }

  .skill {
    background-image: url("/pattern-rings.svg");
    background-repeat: no-repeat;
    background-position: bottom right -350px;
    @screen md {
      background-position: bottom right -350px;
    }
    @screen lg {
      background-position: bottom right -300px;
    }
  }

  .contact {
    background-image: url("/pattern-rings.svg");
    background-repeat: no-repeat;
    background-position: bottom 70px left -350px;
    @screen md {
      background-position: bottom 20px left -350px;
    }
    @screen lg {
      background-position: bottom 40px left -220px;
    }
  }
  /* overlay images with text */
  .overlay-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }
  .overlay-text {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .overlay-box:hover .overlay-img {
    opacity: 0.3;
  }
  .overlay-box:hover .overlay-text {
    opacity: 1;
  }
}

body {
  background-color: #151515;
}

input {
  background: transparent;
}
